/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
$base-font-family: 'Avenir Next', 'Raleway', 'Avenir', 'sans-serif';

$english-quotes: false;
$responsive-extra: true;
$spacing-unit: 24px;
$spacing-unit--small: 24px/2;

/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

main {
  overflow-x: hidden;
}

$brand-round: 0.3rem;

$main-color: #001144;
